/* Bajar Footer */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.navbarCustom {
  background-color: #0c1214;
}

.formSearch {
  width: 95%;
}

.primerInput {
  background-color: #fff;
  border: 4px solid #0c1214;
  width: 95%;
  transition: 1s;
  border-radius: 10px;
  padding: 5px;
  color: #000;
  outline: none;
  &:hover {
    border: 4px solid #d7420d;
  }
}

.logoImagen {
  width: 70px;
  object-fit: contain;
}

.iconos {
  font-size: 25px;
  margin: 5px;
  color: #fff;
}

.bgFooter {
  background-color: #181818;
  border-radius: 0 30px 0 0;
}

.imgLogoFooter {
  height: 100px;
}

.logoFooterFB {
  color: white;
  transition: 600ms ease;
}

.logoFooterIG {
  color: white;
  transition: 600ms ease;
}

.logoFooterX {
  color: white;
  transition: 600ms ease;
}

.logoFooterWA {
  color: white;
  transition: 600ms ease;
}

.logoFooterIG:hover {
  color: rgb(255, 0, 55);
  text-shadow: 1px 1px 10px rgb(255, 0, 55);
}

.logoFooterFB:hover {
  color: rgb(0, 14, 212);
  text-shadow: 1px 1px 10px rgb(0, 14, 212);
}

.logoFooterX:hover {
  color: rgb(104, 104, 104);
  text-shadow: 1px 1px 10px rgb(104, 104, 104);
}

.logoFooterWA:hover {
  color: rgb(0, 212, 71);
  text-shadow: 1px 1px 10px rgb(0, 212, 71);
}

.textFooter:hover {
  text-shadow: 1px 1px 10px white;
}

/* Marquee styles */
.marquee {
  --gap: 100px;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.imagenFondo {
  background-image: url(https://img.freepik.com/fotos-premium/fondo-degradado-azul-morado-copie-espacio-ilustracion_195501-2050.jpg);
}

.login {
  background-color: rgb(42, 23, 105);
}

.marquee-container {
  overflow: hidden;
  background-color: #f8f9fa;
  padding: 10px 0 ;
  position: relative;
  box-shadow: 1px 1px 5px white;
}

.marquee-track {
  display: flex;
  width: fit-content;
  animation: scroll-left 10s linear infinite;
}

.marquee-track img {
  height: 40px;
  margin: 0 40px;
}
.bodyColorRegistro {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #532d15, #b64009, #0f172a);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font-family: "Orbitron", sans-serif;
}
.texto {
  font-family: "Rajdhani", sans-serif;
}

.encabezadoForm {
  font-family: "Orbitron", sans-serif;
}
.form-container {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 30px;
  border-radius: 15px;
  color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.form-control {
  background-color: #f8f9fa;
  color: #212529;
}

.form-control:focus {
  background-color: #ffffff;
  border: 1px solid transparent;
  outline: none;
  box-shadow: 0 0 5px 2px rgba(255, 165, 0, 0.7),
    0 0 10px 4px rgba(75, 44, 32, 0.6);
}
.btn-primary {
  background: linear-gradient(90deg, #4b6cb7, #182848);
  border: none;
}

.btn-dark:hover {
  background: linear-gradient(90deg, #23242a, #e59664);
}

.form-label,
.form-check-label {
  color: #ddd;
}
@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.carruselImg{
    height: auto;
    

}
/*Tablet */
@media (max-width: 900px) {
  .carruselImg {
    height: 300px;
    object-fit: cover;
  }
}

/* dispositivos lg*/

@media (max-width: 1500px) {
  .carruselImg {
    height: 400px;
  }
}

/*dispositivos celulares*/

@media (max-width: 600px) {
  .carruselImg {
    height: 200px;
    object-fit: cover;
  }
}
